.search-modal {
    background: #C8102E;
    opacity: 0.8;
    border-radius: 2rem;
    display: flex;
    width: 35vw;
    border: white;
    height: 3rem;
    position: absolute;
    top: 18rem;
    left: 75%;
    align-items: baseline;
    justify-content: space-evenly;
}
.h1-cabecera-m {
    color: #C8102E;
    font-size: large;
}
.dateofappoitment {
    border-radius: 1rem;
    color: #242331;
}