.search-modal {
    background: #C8102E;
    opacity: 0.9;
    border-radius: 2rem;
    display: flex;
    width: 35vw;
    border: white;
    height: auto;
    position: absolute;
    top: 18rem;
    left: 32%;
    align-items: baseline;
    justify-content: space-evenly;
    text-align: center;
}
.h1-cabecera-m {
    color: #C8102E;
    font-size: large;
}
.butt-modal{
    background: #C8102E;
    color: white;
    border-radius: 2rem;
    height: 3rem;
    width: 6rem;
    border: white;
    opacity: 0.9;
}
.aaa{
    color: red;
    background-color: salmon;
}
