.location-nav {
    position: absolute;
    top: 2rem; left: 2rem;
}
.img-button-logo{
    background: url("../img/TONSOR_LOGO.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 25vw;
    height: 10vh;
    border: transparent;
    margin: 30px;
    top: 40px;
}
.butt-nav{
    background: #C8102E;
    color: white;
    border-radius: 2rem;
    height: 3rem;
    width: 5rem;
}